.button {
  position: absolute;
  top: 0.375rem;
  width: 2.25rem;
  height: 2.25rem;
}

.button-left {
  left: 0.375rem;
}

.button-right {
  right: 0.375rem;
}

.button-left + :global(.p-inputtext) {
  padding-left: 3rem;
}

.button-right + :global(.p-inputtext) {
  padding-right: 3rem;
}

.float-label-button-left label {
  left: 3rem !important;
}

.input-button-left {
  padding-left: 3rem;
}

.error :global(.p-tooltip-text) {
  background: var(--my-project-error-color) !important;
}
